  body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #EFEFEF;
    color:white;
    font-size: 22px;;
  }

  #container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #container .celda1{
    padding: 9px;
    background-color:#a60573;
    border-radius: 5px;
    grid-row: 1/2;
    grid-column: 2/5;
  }

  #container .celda2{
    padding: 9px;
    background-color:#596ac3;
    border-radius: 5px;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  #container .celda2{
    width: 100%;
    height: 80%;
  }

  #container .celda3{
    padding: 9px;
    background-color:#97bc27;
    border-radius: 5px;
    grid-row: 4/5;
    grid-column: 4/5
  }

  #container .celda3{
    width: 100%;
    height: 80%;
  }

  #container .celda4{
    padding: 9px;
    background-color:#ff9800;
    border-radius: 5px;
    grid-row: 4/5;
    grid-column: 2/3;
  }

  #container .celda4{
    width: 100%;
    height: 80%;
  }

  #container .celda5{
    padding: 9px;
    background-color: #ff3700;
    border-radius: 5px;
    grid-row: 2/3;
    grid-column: 4/5;
  }

  #container .celda5{
    width: 100%;
    height: 80%;
  }

  #container2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #container2 .celda1{
  padding: 9px;
  background-color: #f4b802;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 2/5;
  }

  #container2 .celda2{
  padding: 9px;
  background-color: #f4b802;
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 2/5;
  }

  #container2 .celda2{
    width: 100%;
    height: 50%;
  }

  #container2 .celda3{
  padding: 9px;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 3/4;
  }

  #container2 .celda3{
    width: 100%;
    height: 80%;
  }

  #container2 .celda4{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
  }

  #container2 .celda5{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 4/5;
  }

  #container2 .celda6{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 2/3;
  }

  #container2 .celda7{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 4/5;
  }

  #container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #container3 .celda1{
  padding: 9px;
  background-color: #adc863;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 2/5;
  }

  #container3 .celda2{
  padding: 9px;
  background-color: #adc863;
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 2/5;
  }

  #container3 .celda3{
  padding: 9px;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 3/4;
  }

  #container3 .celda4{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
  }

  #container3 .celda5{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 4/5;
  }

  #container3 .celda6{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 2/3;
  }

  #container3 .celda7{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 4/5;
  }

  #container4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #container4 .celda1{
  padding: 9px;
  background-color: #2b52e6;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 2/5;
  }

  #container4 .celda2{
  padding: 9px;
  background-color: #2b52e6;
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 2/5;
  }

  #container4 .celda3{
  padding: 9px;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 3/4;
  }

  #container4 .celda4{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
  }

  #container4 .celda5{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 4/5;
  }

  #container4 .celda6{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 2/3;
  }

  #container4 .celda7{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 4/5;
  }

  #container5{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #container5 .celda1{
  padding: 9px;
  background-color: #fd008e;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 2/5;
  }

  #container5 .celda2{
  padding: 9px;
  background-color: #fd008e;
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 2/5;
  }

  #container5 .celda2{
    width: 100%;
    height: 50%;
  }

  #container5 .celda3{
  padding: 9px;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 3/4;
  }

  #container5 .celda4{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
  }

  #container5 .celda5{
  padding: 9px;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 4/5;
  }

  #container5 .celda6{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 2/3;
  }

  #container5 .celda7{
  padding: 9px;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 4/5;
  }
